<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link
      href="{{ url_for('static', filename='styles/styles.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1>Admin Dashboard</h1>
    <div class="sidenav">
      <a href="{{ url_for('home.add_pet')}}">Add Pet</a>
      <a href="{{ url_for('home.adoptions')}}">Adoption checklist</a>
      <a href="{{ url_for('home.logout')  }}">Logout</a>
    </div>
    <p>
      for owners that want to adopt, we see their description of the dog they want to accept, and we as an admin can press a button to accept or deny it.
    </p>
  </body>
</html>
